body {
  background-color:  #122f3d;
}

header {
  text-align: center;
}

h1 {
  font-family: 'Ruslan Display', cursive;
  font-size: 40px;
  color: #f6de6c;
}

.gameboard {
  background-color: #34738f;
  width: 80%;
  height: 600px;
  margin-left: 10%;
  border: 3px solid #ed8a45;
}

.playerFish {
  background-image: url('./images/fish.png');
  background-size: cover;
  background-repeat: no-repeat;
  height: 50px;
  width: 90px;
  position: absolute;
  left: 300px;
  top: 300px;
}

.enemyFish {
  background-image: url('./images/enemy.png');
  background-size: cover;
}
